<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- Propiedades globales -->
    <Properties>
        <!-- Carpeta donde se trabajarán los archivos de depuración -->
        <Property name="ruta">/${groupId}-logs/${artifactId}</Property>

        <!-- Nombre del archivo donde se guardarán los mensajes -->
        <Property name="archivo">application</Property>

        <!-- Patrón del mensaje -->
        <Property name="patron">[%highlight{%-5level}] %d{DEFAULT} %c{1}.%M() - %msg%n%throwable{short.lineNumber}</Property>
    </Properties>

    <!-- Appenders -->
    <Appenders>
        <!-- Consola -->
        <Console name="logConsola" target="SYSTEM_OUT">
            <!-- Patrón del mensaje, definido en Properties > pattern -->
            <PatternLayout pattern="${patron}" />
        </Console>

        <!-- Archivo -->
        <RollingFile name="logArchivo" fileName="${ruta}/${archivo}.log"
            filePattern="${ruta}/${archivo}_%d{yyyy-MM-dd}.log">

            <!-- Patrón del mensaje, definido en Properties > pattern -->
            <PatternLayout pattern="${patron}" />

            <!-- Políticas de generación de archivos -->
            <Policies>
                <!-- Causes a rollover if the log file is older than the current JVM's start time -->
                <OnStartupTriggeringPolicy />

                <!-- Causes a rollover once the date/time pattern no longer applies to the active file -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
    </Appenders>

    <!-- Loggers -->
    <Loggers>
        <!-- Aplicación -->
        <!-- additivity="false" permite deshacerse de los logs duplicados -->
        <Logger name="$package" level="debug" additivity="false">
            <AppenderRef ref="logArchivo" />
            <AppenderRef ref="logConsola" />
        </Logger>

        <!-- Spring Framework -->
        <Logger name="org.springframework" level="error" additivity="false">
            <AppenderRef ref="logConsola" />
        </Logger>

        <!-- Raíz -->
        <Root level="error" additivity="false">
            <AppenderRef ref="logConsola" />
            <AppenderRef ref="logArchivo" />
        </Root>
    </Loggers>

</Configuration>
